
/* Import fonts */
@import url(./font.css);

/* Login Area */

body {
 

}


.site-main .site-banner .container {

    padding: 10% 7%;
}


.site-main .site-banner .container form {

    background: url(../img/login-background.png) no-repeat;
    background-size: contain;
    padding-top: 10%;
    padding-left: 57%;
    padding-right: 5%;
    padding-bottom: 20%;
    height: auto;
    width: auto;

}

.site-main .site-banner .container form h1{

    height: auto;
    width: auto;
}


/* End Banner Area */