/* Import fonts */
@import url(./font.css);

/* Login Area */


header {
    position: relative;
    background-color: grey;
    height: 100vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
    opacity: 1;
}

header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
}

header .container {
    position: relative;
    z-index: 2;
}

header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.monospace
{
  font-family: 'Quicksand', sans-serif;
  font-weight: 390;
  color: black;
  font-size: 4vw;
}


.inputText
{
    max-width: 65%;
}

#squestion
{
  color: white;
  font-size: 1.3vw;
  margin-top: 12%;
  margin-bottom: 5%;
}

#contactSearchResult
{
  color: black;
}


#userDeleteResult{
  color: white;
}

#contactList
{
  color: white;
  margin-top: 2%;
}

#contactResult{

  color: white;
}

#contacts
{
  color: white;
  margin-top: 2%;
}

.site-main .site-banner
{
    background-size: auto;
    background-position: absolute;
    align-content: center;
    background-color: #1d2124;

    justify-content: center;
    display: flex;
    align-items: center;

    border-radius: 50px;

    padding-bottom: 5%;
    padding-left: 0%;
    padding-right: 0%;
}

.containerManage
{
    background: rgba(255, 255, 255, .6);
    background-size: auto;
    overflow: auto;

    align-content: center;
    justify-content: center;
    align-items: center;

    border-radius: 50px;

    padding-bottom: 3%;
    padding-left: 0%;
    padding-right: 0%;
    padding-top: 3%;

    height: 40vw;
    width: 50%;
    margin-top: 5%;

}

.input-label{

  color: black;

}

input{
    font-family: FontAwesome;
}


.searchBar
{
    max-width: 70%;
}

.topCorner
{
    position:absolute;

    float: right;
    right: 27%;
    top: 12%;

}

.container
{
    background: rgba(255, 255, 255, 0.5);
    background-size: auto;
    align-content: center;

    justify-content: center;
    display: flex;
    align-items: center;

    border-radius: 65px;

    padding-bottom: 3%;
    padding-left: 0%;
    padding-right: 0%;
    padding-top: 3%;

    max-width: 25vw;
    margin-top: 5%;

}

.form-label
{
    color: #1d2124;
}

.non-opaque
{
    opacity: 1;
}

.site-main .site-banner .title
{

    color: white;
}

.topnav
{
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    width: 100%;
}

/* Style the links inside the navigation bar */
.topnav a
{
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover
{
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active
{
    background-color: #243065;
    color: white;
}

.topnav a.logout
{
    float: right;
    background-color: #b50000;
    color: white;
}

.topnav .search-container button:hover {
  background: #ccc;
}

@media screen and (max-width: 600px) {
  .topnav .search-container {
    float: none;
  }
  .topnav a, .topnav input[type=text], .topnav .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;
  }
}

@media (pointer: coarse) and (hover: none) {
    body {
        background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
    }
    body video {
        display: none;
    }
}
